################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web2023_BE/.vs/Web2023_BE/FileContentIndex/096f8787-6de9-4c12-b495-c231e4037924.vsidx
*.vsidx
